.wrapper {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.items {
  flex-basis: calc(100% / 4);
}

.player-image {
  width: 100%;
  max-height: 284px;
  object-fit: cover;
}

/* #567d46 */
